name: CI

on: [push, pull_request]

jobs:

  code-quality-flake8:

    defaults:
      run:
        shell: bash

    runs-on: ubuntu-latest

    name: Flake8

    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: flake8 Lint
        uses: py-actions/flake8@v2

  code-quality-black-fmt:
    runs-on: ubuntu-latest
    name: Black Formatting Check
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: black formatting check
        uses: psf/black@stable
        with:
          options: --check .

  code-quality-pylint:
    runs-on: ubuntu-latest
    name: Pylint
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - name: Set up Python environment
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pylint
      - name: Analysing the code with pylint
        run: |
          pylint $(git ls-files '*.py')

  security-scan:
    runs-on: ubuntu-latest
    name: Trivy Filesystem Scan
    needs: [code-quality-flake8, code-quality-black-fmt, code-quality-pylint]
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - name: Run Trivy filesystem scan
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: fs
          format: table
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
